.smartdocs-block-notice{
  padding:13px;
  border-left:6px solid currentColor
}

.smartdocs-block-notice.notice-warn{
  background-color:#fff2d7;
  color:#ce7129
}

.smartdocs-block-notice.notice-error{
  background-color:#ffe3e2;
  color:#9d1f1a
}

.smartdocs-block-notice.notice-info{
  background-color:#d6edff;
  color:#034077
}

.smartdocs-block-notice.notice-success{
  background-color:#e3fbee;
  color:#106236
}

.smartdocs-block-notice p:last-of-type{
  margin-bottom:0
}

