.widget_smart_doc_cat_widget .docs-widget-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #c1c1c1;
}

.widget_smart_doc_cat_widget .cat-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.widget_smart_doc_cat_widget .cat-item a {
    font-size: 14px;
}

.widget_smart_doc_cat_widget .cat-item .children {
    margin-left: auto;
}