.customize-control-smartdocs-slider .smartdocs-range-input {
	-webkit-appearance: none;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
	background-color: rgba(0, 0, 0, 0.1);
	height: 5px;
	width: calc(100% - 85px);
	padding: 0;
	border-radius: 10px;
}
.customize-control-smartdocs-slider .smartdocs-range-input:hover {
	background-color: rgba(0, 0, 0, 0.25);
}
.customize-control-smartdocs-slider .smartdocs-range-input:focus {
	box-shadow: none;
	outline: none;
}
.customize-control-smartdocs-slider .smartdocs-range-input::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: #008ec2;
}
.customize-control-smartdocs-slider .smartdocs-range-input::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border: none;
	border-radius: 50%;
	background-color: #008ec2;
}
.customize-control-smartdocs-slider .smartdocs-range-input::-ms-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 0;
	background-color: #008ec2;
}
.customize-control-smartdocs-slider .smartdocs-range-input::-moz-range-track {
	border: inherit;
	background: transparent;
}
.customize-control-smartdocs-slider .smartdocs-range-input::-ms-track {
	border: inherit;
	color: transparent;
	background: transparent;
}
.customize-control-smartdocs-slider .smartdocs-range-input::-ms-fill-lower,
.customize-control-smartdocs-slider .smartdocs-range-input::-ms-fill-upper {
	background: transparent;
}
.customize-control-smartdocs-slider .smartdocs-range-input::-ms-tooltip {
	display: none;
}
.customize-control-smartdocs-slider .smartdocs-range-value {
	display: inline-block;
	padding: 0 5px;
	position: relative;
	top: 1px;
}
.customize-control-smartdocs-slider input.smartdocs-range-value-input {
	width: 52px;
	height: 23px;
	font-size: 13px;
}
.customize-control-smartdocs-slider .smartdocs-slider-reset {
	color: rgba(0, 0, 0, 0.2);
	float: right;
	-webkit-transition: color 0.5s ease-in;
	-moz-transition: color 0.5s ease-in;
	-ms-transition: color 0.5s ease-in;
	-o-transition: color 0.5s ease-in;
	transition: color 0.5s ease-in;
}
.customize-control-smartdocs-slider .smartdocs-slider-reset span {
	font-size: 16px;
	line-height: 22px;
	cursor: pointer;
}
.customize-control-smartdocs-dimension .smartdocs-field {
	float: left;
	width: 24%;
	margin-bottom: 5px;
	margin-right: 2px;
}
.customize-control-smartdocs-dimension .smartdocs-field-label {
	font-size: 11px;
}

/* Styles for Section Control */

.customize-control-smartdocs-section {
	margin-top: 20px;
}
.customize-section-description-container + .customize-control-smartdocs-section {
	margin-top: 10px;
}
.customize-control-smartdocs-section .smartdocs-section-title {
	margin-left: -12px;
	margin-right: -12px;
	margin-bottom: 5px;
}
.customize-control-smartdocs-section .customize-control-title {
	background: #e5e5e5;
	margin: 0;
	padding: 6px 12px;
	display: block;
}

/* Styles for Sub Section Control */

.customize-control-smartdocs-sub-section {
	margin-top: 20px;
}
.customize-sub-section-description-container
	+ .customize-control-smartdocs-sub-section {
	margin-top: 10px;
}
.customize-control-smartdocs-sub-section .smartdocs-sub-section-title {
	margin-left: -12px;
	margin-right: -12px;
	margin-bottom: 5px;
}
.customize-control-smartdocs-sub-section .customize-control-title {
	border-bottom: 1px dashed #c0c0c0;
	margin: 0;
	padding: 6px 12px;
	display: block;
}

.customize-control-smartdocs-color {
	display: inline-grid;
}

/**Test**/

.customize-control-smartdocs-slider-responsive .smartdocs-range-input {
	-webkit-appearance: none;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
	background-color: rgba(0, 0, 0, 0.1);
	height: 5px;
	width: calc(100% - 85px);
	padding: 0;
	border-radius: 10px;
}
.customize-control-smartdocs-slider-responsive .smartdocs-range-input:hover {
	background-color: rgba(0, 0, 0, 0.25);
}
.customize-control-smartdocs-slider-responsive .smartdocs-range-input:focus {
	box-shadow: none;
	outline: none;
}
.customize-control-smartdocs-slider-responsive
	.smartdocs-range-input::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: #008ec2;
}
.customize-control-smartdocs-slider-responsive
	.smartdocs-range-input::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border: none;
	border-radius: 50%;
	background-color: #008ec2;
}
.customize-control-smartdocs-slider-responsive .smartdocs-range-input::-ms-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 0;
	background-color: #008ec2;
}
.customize-control-smartdocs-slider-responsive
	.smartdocs-range-input::-moz-range-track {
	border: inherit;
	background: transparent;
}
.customize-control-smartdocs-slider-responsive .smartdocs-range-input::-ms-track {
	border: inherit;
	color: transparent;
	background: transparent;
}
.customize-control-smartdocs-slider-responsive .smartdocs-range-input::-ms-fill-lower,
.customize-control-smartdocs-slider-responsive
	.smartdocs-range-input::-ms-fill-upper {
	background: transparent;
}
.customize-control-smartdocs-slider-responsive .smartdocs-range-input::-ms-tooltip {
	display: none;
}
.customize-control-smartdocs-slider-responsive .smartdocs-range-value {
	display: inline-block;
	padding: 0 5px;
	position: relative;
	top: 1px;
}
.customize-control-smartdocs-slider-responsive input.smartdocs-range-value-input {
	width: 52px;
	height: 23px;
	font-size: 13px;
}
.customize-control-smartdocs-slider-responsive .smartdocs-slider-reset {
	color: rgba(0, 0, 0, 0.2);
	float: right;
	-webkit-transition: color 0.5s ease-in;
	-moz-transition: color 0.5s ease-in;
	-ms-transition: color 0.5s ease-in;
	-o-transition: color 0.5s ease-in;
	transition: color 0.5s ease-in;
}
.customize-control-smartdocs-slider-responsive .smartdocs-slider-reset span {
	font-size: 16px;
	line-height: 22px;
	cursor: pointer;
}

.customize-control-smartdocs-slider-responsive .sub-settings-wrapper {
	display: flex;
	justify-content: space-between;
}

.customize-control.smart-docs.tablet {
	display: none;
}

.customize-control.smart-docs.mobile {
	display: none;
}

/* Responsive toggle icons */
i.smartdocs-responsive-control-toggle {
	color: #656a6f;
	cursor: pointer;
	display: inline-block;
	font: normal 18px/30px dashicons;
	height: auto;
	line-height: 18px !important;
	padding: 0 5px;
	text-align: left;
	vertical-align: middle;
	width: 20px;
}

/* Utility Classes */

/* Dividers for controls */

.smartdocs-divider-top {
	border-top: 1px solid #c0c0c0;
}

.smartdocs-divider-bottom {
	border-bottom: 1px solid #c0c0c0;
}
