/*********************************
 * Common
 ********************************/
.smartdocs-template .smartdocs-inner:before,
.smartdocs-template .smartdocs-inner:after {
	content: "";
	display: table;
}
.smartdocs-template .smartdocs-inner:after {
	clear: both;
}
.smartdocs-template .smartdocs-inner {
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 0;
}

/** Header */
.smartdocs-header {
	background-color: #eee;
}
.smartdocs-header .smartdocs-hero-title,
.smartdocs-header .smartdocs-hero-description {
	text-align: center;
}

/** Content, Sidebar */
.smartdocs-template .smartdocs-content .smartdocs-inner {
	padding: 0;
}
.smartdocs-template .smartdocs-content #primary {
    float: left;
	width: 66.66666%;
	padding-top: 30px;
	padding-right: 30px;
	border-right: 1px solid #eee;
}
.smartdocs-template .smartdocs-content .sidebar {
    float: right;
	width: 33.33333%;
	padding-top: 30px;
	padding-left: 30px;
}

/** Sidebar Widgets */
.smartdocs-template .smartdocs-sidebar .widget {
	margin-bottom: 30px;
}
.smartdocs-template .smartdocs-sidebar .widget-title {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.smartdocs-template .smartdocs-sidebar .widget ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.smartdocs-template .smartdocs-sidebar .widget ul.children {
	padding-left: 30px;
}
.smartdocs-template .smartdocs-sidebar .widget ul li:last-child {
	margin-bottom: 0;
}
.widget_smartdocs-categories-widget .cat-item {
	margin-bottom: 0;
}
.widget_smartdocs-categories-widget .cat-item.active {
	position: relative;
}
.widget_smartdocs-categories-widget .cat-item a {
    display: flex;
    justify-content: space-between;
	align-items: center;
	padding-top: 5px;
    padding-bottom: 5px;
}
.widget_smartdocs-categories-widget .cat-item .children .cat-item a {
    padding-left: 20px;
    border-left: 1px solid #ddd;
}
.widget_smartdocs-categories-widget .children .cat-item.active:before {
	position: absolute;
    content: '';
    top: 0;
    left: -1px;
    width: 3px;
    height: 100%;
    border-radius: 5px;
    background: #ddd;
}
.widget_smartdocs-categories-widget .cat-item a .cat-count {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    min-width: 24px;
    font-size: 12px;
    font-weight: 600;
    background-color: #eee;
    border-radius: 4px;
    transition: all 0.10s;
}
.widget_smartdocs-categories-widget .cat-item a:hover .cat-count {
	background-color: #ddd;
}

/*********************************
 * Archive
 ********************************/

 /** Grid Layout **/
.smartdocs-archive-layout-grid {
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 3em;
	margin-bottom: 3em;
	display: grid;
}

.smartdocs-archive-layout-grid .smartdocs-category {
	min-width: 1px;
}

.smartdocs-archive-layout-grid .smartdocs-category a {
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	min-height: 250px;
	text-decoration: none;
	transition: border 0.2s linear;
}

.smartdocs-archive-layout-grid .smartdocs-category a:hover {
	border-color: #c0c0c0;
}

.smartdocs-archive-layout-grid
	.smartdocs-category
	.smartdocs-category-info-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	width: 100%;
}

.smartdocs-archive-layout-grid .smartdocs-category-title-description-wrapper {
	text-align: center;
}

.smartdocs-archive-layout-grid
	.smartdocs-category-title-description-wrapper
	.smartdocs-category-title {
	font-weight: bold;
	margin-bottom: 20px;
}

.smartdocs-archive-layout-grid
	.smartdocs-category-title-description-wrapper
	.smartdocs-category-description {
	color: #c0c0c0;
	text-align: center;
}

.smartdocs-archive-layout-grid .smartdocs-posts-info {
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-top: 1px solid #e1e1e1;
	padding: 25px 40px;
	margin-top: auto;
}

.smartdocs-archive-layout-grid
	.smartdocs-posts-info
	.smartdocs-category-posts-count {
	font-weight: bold;
	color: #2d2d2d;
}

/** List Layout **/

.smartdocs-categories.smartdocs-archive-layout-list {
	display: grid;
	gap: 20px;
}

.smartdocs-archive-layout-list .smartdocs-category {
	width: 100%;
}
.smartdocs-archive-layout-list .smartdocs-category a {
	border: 1px solid #e1e1e1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;

	height: 100%;

	border-radius: 3px;
}

.smartdocs-archive-layout-list .smartdocs-category-info-wrapper {
	display: flex;
	align-items: center;
	padding: 20px;

	height: 100%;
	width: 100%;
}

.smartdocs-archive-layout-list .smartdocs-category-info-wrapper img {
	margin-right: 3em;
}

.smartdocs-archive-layout-list .smartdocs-category-title {
	font-weight: bold;
}

.smartdocs-archive-layout-list .smartdocs-category-description {
	color: #c0c0c0;
}

.smartdocs-archive-layout-list .smartdocs-posts-info {
	height: 4em;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #e1e1e1;
}

.smartdocs-archive-layout-list .smartdocs-category-posts-count {
	width: 100%;
	text-align: center;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
	padding-left: 20px;
}

.smartdocs-archive-layout-list
	.smartdocs-category-posts-count
	.smartdocs-posts-count {
	margin-right: 5px;
}

.smartdocs-archive-layout-list .smartdocs-category-view-all {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	transition: all 0.2s ease-in-out;
	padding-right: 20px;
}


/*********************************
 * Single
 ********************************/
 main.smartdocs-wrap {
    margin-right: auto;
    margin-left: auto;
}

.smartdocs-wrap .smartdocs-single-doc-wrap {
	display: grid;
	grid-template-columns: 75% 25%;
	gap: 20px;
}

header.smartdocs-single-doc-search-hero {
    padding-top: 125px;
    padding-bottom: 125px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #262626;
}

header.smartdocs-single-doc-header {
    margin-bottom: 5%;
}

.smartdocs-single-doc-last-update-time {
    color:  #c1c1c1;
    font-size: 14px;
    padding-top: 10px;
}

.smartdocs-single-doc-featured-image {
    margin: 5%;
}

.smartdocs-single-doc-featured-image img {
    width: 100%;
    object-fit: contain;
    height: 400px;
}

.smardocs-single-doc-content-wrap {
    background: #fff;
    padding: 5%;
}
