@font-face {
	font-family: 'smartdocs';
	src: url('../fonts/smartdocs.eot?944nec');
	src: url('../fonts/smartdocs.eot?944nec#iefix') format('embedded-opentype'),
		url('../fonts/smartdocs.ttf?944nec') format('truetype'),
		url('../fonts/smartdocs.woff?944nec') format('woff'),
		url('../fonts/smartdocs.svg?944nec#smartdpcs') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="sd-icon-"],
[class*=" sd-icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'smartdocs' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sd-icon-book:before {
	content: "\e91f";
}

.sd-icon-doc-1:before {
	content: "\e926";
}

.sd-icon-doc-2:before {
	content: "\eae3";
}

.sd-icon-spinner11:before {
	content: "\e984";
}

.sd-icon-search:before {
	content: "\e986";
}


/*********************************
 * Common
 ********************************/
.smartdocs-template .smartdocs-inner:before,
.smartdocs-template .smartdocs-inner:after {
	content: "";
	display: table;
}

.smartdocs-template .smartdocs-inner:after {
	clear: both;
}

.smartdocs-template .smartdocs-inner {
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 0;
	position: relative;
}

.smartdocs-template .smartdocs-content {
	background-color: #fff;
}

/** Header */
.smartdocs-header {
	background-color: #eee;
	border-bottom: 1px solid #eee;
	position: relative;
}

.smartdocs-header .smartdocs-hero-title {
	margin-bottom: 8px;
}
.smartdocs-header .smartdocs-hero-title,
.smartdocs-header .smartdocs-hero-description {
	text-align: center;
}
.smartdocs-header .smartdocs-hero-description p:last-of-type {
	margin-bottom: 0;
}
.smartdocs-header .smartdocs-search {
	margin-top: 20px;
}

/** Content, Sidebar */
.smartdocs-template .smartdocs-content .smartdocs-inner {
	padding: 0;
	display: flex;
}

.smartdocs-template .smartdocs-content #primary {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 30px;
	width: 100%;
}

.smartdocs-template.smartdocs-has-sidebar .smartdocs-content #primary {
	width: 66.66666%;
	margin: 0;
}

.smartdocs-template .smartdocs-content .sidebar {
	width: 33.33333%;
	padding-top: 30px;
	padding-left: 30px;
	border-left: 1px solid #eee;
}

/** Sidebar Widgets */
.smartdocs-template .smartdocs-sidebar .sidebar-main {
	width: 100%;
}
.smartdocs-template .smartdocs-sidebar .widget {
	margin-bottom: 30px;
	padding: 0;
}

.smartdocs-template .smartdocs-sidebar .widget-title {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.smartdocs-template .smartdocs-sidebar .widget ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.smartdocs-template .smartdocs-sidebar .widget ul.children {
	padding-left: 30px;
}

.smartdocs-template .smartdocs-sidebar .widget ul li:last-child {
	margin-bottom: 0;
}

.smartdocs-sidebar .smartdocs-no-sidebar {
	padding: 20px;
    background: #eee;
}

.widget_smartdocs-categories-widget ul ul {
	border: 0;
}
.widget_smartdocs-categories-widget ul li {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
}
.widget_smartdocs-categories-widget li li {
	margin-left: 0;
}

.widget_smartdocs-categories-widget li.active {
	position: relative;
}

.widget_smartdocs-categories-widget .cat-item a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
}

body:not(.single) .widget_smartdocs-categories-widget .cat-item .children .cat-item a,
body.single .widget_smartdocs-categories-widget .cat-item .has-posts li a {
	padding-left: 20px;
	border-left: 1px solid #ddd;
}

.widget_smartdocs-categories-widget .cat-item.active>a>.cat-label {
	font-weight: bold;
}

body:not(.single) .widget_smartdocs-categories-widget .children .cat-item.active:before,
body.single .widget_smartdocs-categories-widget .has-posts li.active:before {
	position: absolute;
	content: '';
	top: 0;
	left: -1px;
	width: 3px;
	height: 100%;
	border-radius: 5px;
	background: #ddd;
}

.widget_smartdocs-categories-widget .cat-item a .cat-count {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 24px;
	min-width: 24px;
	font-size: 12px;
	font-weight: 600;
	background-color: #eee;
	border-radius: 4px;
	transition: all 0.10s;
}

.widget_smartdocs-categories-widget .cat-item a:hover .cat-count {
	background-color: #ddd;
}

/** Breadcrumb */
.smartdocs-breadcrumb {
	margin: 0 0 1em;
    padding: 0;
    font-size: .92em;
}

/** Search */
.smartdocs-search {
	position: relative;
}
.smartdocs-search form {
	margin-bottom: 0;
	padding: 0;
}
.smartdocs-search .search-icon,
.smartdocs-search .loading-spinner {
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.smartdocs-search .search-icon {
    left: 15px;
    font-size: 15px;
    opacity: 0.5;
}
.smartdocs-search .loading-spinner {
	display: none;
	right: 15px;
    width: 20px;
    height: 20px;
}
.smartdocs-search .loading-spinner img {
	vertical-align: baseline;
}
.smartdocs-search input {
	width: 100%;
}
.smartdocs-search .search-icon + input {
	padding-left: 35px;
	width: 100%;
}
.smartdocs-search input.loading + .loading-spinner {
	display: block;
}
.smartdocs-search .smartdocs-search-result {
	list-style: none;
    background: #fff;
    padding: 3px 0;
    position: absolute;
    width: 100%;
	margin: 0;
    margin-top: 4px;
    border-radius: 4px;
    z-index: 99;
    border: 1px solid #eee;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.03);
}
.smartdocs-search .smartdocs-search-result li {
	margin: 0;
}
.smartdocs-search .smartdocs-search-result li a {
	padding: 3px 10px;
    display: block;
	text-decoration: none;
}
.smartdocs-search .smartdocs-search-result li a:hover {
	background-color: #f7f7f7;
}

/*********************************
 * Archive
 ********************************/
.smartdocs-categories {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	margin: 20px 0;
	width: 100%;
}

.smartdocs-categories .smartdocs-category {
	min-width: 1px;
}

.smartdocs-categories .smartdocs-category .smartdocs-category-inner {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	min-height: 250px;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	text-decoration: none;
	transition: border 0.2s linear;
}

.smartdocs-categories .smartdocs-category:hover .smartdocs-category-inner {
	border-color: #c0c0c0;
}

.smartdocs-categories .smartdocs-category .smartdocs-category-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	width: 100%;
	padding: 25px 40px 0;
}

.smartdocs-categories .smartdocs-category-thumb {
	margin-bottom: 10px;
}
.smartdocs-categories .smartdocs-category-thumb img {
	max-width: 64px;
}

.smartdocs-categories .smartdocs-category-text {
	text-align: center;
}

.smartdocs-categories .smartdocs-category-text .smartdocs-category-title {
	margin-bottom: 10px;
}

.smartdocs-categories .smartdocs-category-text .smartdocs-category-description {
	color: #777;
	text-align: center;
}

.smartdocs-categories .smartdocs-posts-info {
	display: flex;
	justify-content: center;
	width: 100%;
	border-top: 1px solid #e1e1e1;
	padding: 25px 40px;
	margin-top: auto;
	font-size: 15px;
}
.smartdocs-categories .smartdocs-posts-info.with-count {
	justify-content: space-between;
}

.smartdocs-template.archive .smartdocs-entry-title {
	font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
}
.smartdocs-template.archive .smartdocs-entry-title:before {
	content: "\e926";
	font-family: 'smartdocs' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-right: 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.smartdocs-template .smartdocs-category-title {
	margin-bottom: 20px;
}


/*********************************
 * Single
 ********************************/
.smartdocs-template .smartdocs-entry {
	margin-bottom: 40px;
}
.smartdocs-entry-content img {
    padding: 10px;
    background: #eee;
}

/** Meta */
.smartdocs-entry .entry-meta {
	margin-bottom: 20px;
}
.smartdocs-entry .entry-time {
	font-weight: normal;
	font-style: italic;
}
.smartdocs-entry .entry-author {
	display: none;
}

.smartdocs-entry-footer {
	margin-top: 30px;
}

/** Doc action and feedbac on single doc page */
.smartdocs-doc-actions,
.smartdocs-doc-feedback {
    padding: 40px 0;
    border-top: 1px solid #eee;
}
.smartdocs-doc-actions p:last-of-type,
.smartdocs-doc-feedback p:last-of-type {
	margin: 0;
}
.smartdocs-doc-feedback {
	display: flex;
    justify-content: space-between;
}
.smartdocs-doc-feedback .doc-vote-links {
	display: flex;
}
.smartdocs-doc-feedback .doc-vote-links a {
    text-align: center;
    padding: 2px 20px;
	display: flex;
	align-items: center;
	border-radius: 4px;
	background-color: #333;
	color: #fff;
	text-decoration: none;
}
.smartdocs-doc-feedback .doc-vote-links a.doc-upvote {
	margin-right: 10px;
    background-color: #4CAF50;
}
.smartdocs-doc-feedback .doc-vote-links a.disabled {
	opacity: 0.5;
	pointer-events: none;
}
.smartdocs-doc-feedback .doc-feedback-success,
.smartdocs-doc-feedback .doc-feedback-failed {
	width: 100%;
    padding: 10px;
    text-align: center;
}
.smartdocs-doc-feedback span.vote-count {
	display: flex;
    align-items: center;
	justify-content: center;
	text-align: center;
	width: 20px;
    height: 20px;
    color: #333;
    background: #fff;
    font-size: 11px;
    font-weight: bold;
    border-radius: 50%;
    margin-left: 5px;
}
.smartdocs-doc-feedback .doc-feedback-success {
	border: 1px solid #caeaa4;
	background-color: #edf7e2;
	color: #4CAF50;
}
.smartdocs-doc-feedback .doc-feedback-failed {
	border: 1px solid #f5bfbb;
	background-color: #fbe6e4;
    color: #F44336;
}

/** pre, code, etc */
.smartdocs-template code,
.smartdocs-template kbd,
.smartdocs-template samp,
.smartdocs-template pre {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    border-radius: 2px;
    background: rgba(233,235,239,.5);
}
.smartdocs-template pre {
	overflow: auto;
    padding: 15px 20px;
}
.smartdocs-template code,
.smartdocs-template kbd,
.smartdocs-template samp {
	padding: 3px 6px;
}


.smartdocs-single-doc-last-update-time {
	color: #c1c1c1;
	font-size: 14px;
	padding-top: 10px;
}

.smartdocs-single-doc-featured-image {
	margin: 5%;
}

.smartdocs-single-doc-featured-image img {
	width: 100%;
	object-fit: contain;
	height: 400px;
}

.smardocs-single-doc-content-wrap {
	background: #fff;
	padding: 5%;
}

.smartdocs-copy-link {
	color: #c0c0c0;
	transition: all 0.3s linear;
}

.smartdocs-copy-link:hover {
	color: #0d0d0d;
}


/*********************************
 * Theme Compatibility
 ********************************/

/** Astra */
.smartdocs-template #content .ast-container {
	max-width: 100%;
	padding: 0;
}

/** Genesis */
.smartdocs-template .site-inner {
	max-width: 100%;
	padding: 0;
}

/** GeneratePress */
.smartdocs-template .grid-container {
	max-width: 100%;
}
.smartdocs-template #content {
	display: block;
}

/** Storefront */
.smartdocs-template .site-header {
	margin-bottom: 0;
}
.smartdocs-template #content .col-full {
	max-width: 100%;
	padding: 0;
}

/** Tooltips **/

.smartdocs-copy-link {
    position: relative;
}

.smartdocs-tooltip {
    position: absolute;
    border: 1px solid;
    display: block;
    top: 23px;
    left: -60px;
    background-color: #0e0e0e;
    border-radius: 8px;
    padding: 5px;
    font-size: 12px;
    color: #fff;

    transition: all 0.5s linear;
}