article{
	position: relative;
}

article svg{
	display: inline-block !important;
	position: absolute;
	bottom: 1px;
}

.ed-live-search{
	width: 100%;
	padding: 25px 0px;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	background-color: #f5f5f5;
}

.ed-search-form-container{
	max-width: 1240px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.ed-search-form{
	width: 100%;
	display: block;
	border: 1px solid #d1d1d1;
	position: relative;
	border-radius: 7px;
	background-color: #ffffff;
}

#ed-sq{
	width: 100%;
	background: none;
	color: #595959;
	font-size: 1em;
	padding: 20px 25px;
	border: none;
	box-shadow: none;
	position: relative;
	outline: 0;
}

.wrap{
	max-width: 1240px;
	margin: auto;
	display: block;
	padding-left: 20px;
	padding-right: 20px;
}

.ed-archive-post-head{
	margin: 20px 20px 0px 20px;
	border-bottom: 1px solid #e6e6e6;
	padding: 0px 0px 20px;
	letter-spacing: 0.035em;
}

.ed-archive-categories-wrap{
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
}

.ed-sub-archive-categories-post{
	border: 1px solid #c6c6c6;
	margin: 20px;
	color: #4d4d4d;
	box-shadow: none;
	padding: 30px 20px;
	display: block;
	background: #fbfbfb;
	transition: all 150ms linear;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}

.ed-archive-post-container{
	margin-bottom: 30px;
}

.ed-categories-wrap{
	display: flex;
	flex-wrap: wrap;
}

.ed-categories-wrap .ed-categories-post:nth-of-type(3n){
	margin-right: 0;
}

/* For parent category */
.ed-archive-post{
	width: 25%;
}

.ed-archive-post-count{
	margin: 0;
}

/* For child category */
.ed-categories-post{
	flex-basis: calc( (100% - 40px) / 3 );
	margin-bottom: 20px;
	margin-right: 20px;
}

.ed-sub-archive-post{
	border: 1px solid #c6c6c6;
	color: #4d4d4d;
	box-shadow: none;
	padding: 30px 20px;
	display: block;
	background: #fbfbfb;
	transition: all 150ms linear;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}

.ed-sub-archive-post:hover{
	transform: translateY(-5px);
	/* box-shadow: 10px 10px 5px #c6c6c6; */
}

.ed-taxonomy-container, .ed-single-post-container{
	display: flex;
}

.ed-category-content-area, .ed-tag-content-area, .ed-main-single-post-container{
	margin: 45px 0;
	flex: 1;
	padding-top: 0;
	padding-right: 30px;
}

.ed-category-header, .ed-tag-header{
	border-bottom: 1px solid #e6e6e6;
	margin: 0 0 30px;
	padding: 0 0 0.5em;
	position: relative;
}

.ed-title{
	margin: 0 0 0.5em;
}

.ed-archive-cat-title{
	margin: 0;
}

.ed-post-container > article{
	position: relative;
	border-bottom: none;
	margin-bottom: 15px;
}

.ed-entry-title{
	display: inline-block;
	font-size: 1em;
	font-weight: 400;
	margin: 0;
	padding: 0 0 0 35px;
}

.ed-entry-title > a{
	color: #3a3a3a;
}

.ed-custom-widget-area{
	width: 30%;
	border-left: 1px solid #e6e6e6;
	margin: 0;
	padding: 45px 0 40px 30px;
}

.ed-single-post-header{
	padding: 0;
	border-bottom: 1px solid #e6e6e6;
	margin: 0 0 30px;
	padding-bottom: 0.5em;
}

.ed-single-post-header p{
	margin: 0;
}

.ed-post-content p{
	font-size: 19px;
}

.ed-post-content *{
	margin-left: auto;
	margin-right: auto;
}

.ed-post-content img.attachment-post-thumbnail{
	margin-bottom: 4rem;
	margin-top: 0;
	width: 100%;
}

.ed-post-content p{
	margin-bottom: 4rem;
}

ul.easy-doc-tag{
	list-style: none;
	display: block;
}

ul.easy-doc-tag span{
	display: inline-block;
	font-size: 22px;
}

ul.easy-doc-tag li{
	display: inline-block;
	margin-left: 10px;
	color: #636363;
	font-size: 22px;
}

.ed-search-result{
	position: absolute;
	background-color: #fff;
	list-style: none;
	font-size: 0.9em;
	top: 20px;
	left: 5px;
	margin: 0;
	padding: 10px 5px;
	border: 1px solid #f5f5f5;
	z-index: 9999;
	border-radius: 5px;
	min-width: 300px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.ed-search-result li{
	display: block;
	color: #444;
	padding: 5px 10px;
	white-space: nowrap;
}

.ed-search-result:before{
	content:'';
	position:absolute;
	top:-20px; /*should be set to -border-width x 2 */
	left:30px;
	width:0;
	height:0;
	border-color: transparent transparent #ffffff transparent; /*border color should be same as div div background color*/
	border-style: solid;
	border-width: 10px;
}

.ed-spinner{
	display: none;
	float: right;
	position: absolute;
	top: 18px;
	right: 20px;
	width: 25px;
	height: 21px;
	margin: 0;
}

.docs-widget-title{
	margin-bottom: 1.1rem;
}

/* for cuurrent category active in widget */
a[aria-current=page]::before{
	content:'\25BA';
}

#easy_doc_widget-2{
	padding-bottom: 15px;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 2em;
}

#easy_doc_widget-2 li, #easy_doc_cat_widget-2 li{
	font-size: 18px;
} 

.show{
	display: none;
}

@media only screen and (max-width:800px){
	.ed-archive-post, .ed-categories-post{
		flex-basis: 50%;
	}

	.ed-categories-post a {
		margin-right: 0;
	}
}

@media only screen and (max-width:500px){
	.ed-archive-post, .ed-categories-post{
		flex-basis: 100%;
	}

	.ed-categories-post a {
		margin-right: 0;
	}
}

@media only screen and (max-width:900px){
	.ed-taxonomy-container, .ed-single-post-container{
		display: block;
	}
	.ed-category-content-area, .ed-tag-content-area, .ed-main-single-post-container{
		width: 100%;
	}
	.ed-custom-widget-area{
		width: 100%;
		border: none;
		padding: 0;
		padding-bottom: 40px;
	}
}