$accentColor: #3F51B5;
$darken10: darken( #3F51B5, 10% );
$darken20: darken( #3F51B5, 20% );

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./notices/notices";

@import "./sidePanel";

/* Override Default Content Padding */
#wpcontent {
	padding-left: 0;
}

.smartdocs-settings-header {
	box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.1);
	padding: 10px;
	align-items: center;
	img {
		border: none;
	}
	.smartdocs-version {
		background: #eee;
		padding: 1px 5px;
		color: #888;
	}
}

/* Main Tabs */
.smartdocs-settings-tabs {
	--wp-admin-theme-color: #{$accentColor};
	--wp-admin-theme-color-darker-10: #{$darken10};
	--wp-admin-theme-color-darker-20: #{$darken20};
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px,
		rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
	height: fit-content;

	.components-tab-panel__tab-content {
		@apply p-4;
	}
	.components-tab-panel__tabs-item {
		@apply font-bold;
		&.is-active {
			box-shadow: inset 0 0 0 1.5px transparent, inset 0 -4px 0 0 $accentColor;
		}
		&:hover, &:focus {
			color: $accentColor;
		}
	}
	> .components-tab-panel__tabs {
		border-bottom: 1px solid rgb(226, 228, 231);
	}
	.components-form-toggle.is-checked .components-form-toggle__track {
		background-color: $accentColor;
	}
	.components-button.is-primary {
		background: $accentColor;
		&:hover:not(:disabled) {
			background: darken( $accentColor, 10 );
		}
	}
	.post-types-list {
		margin-top: 20px;
	}
	.components-text-control__input {
		font-size: 14px;
	}
	/* BaseControl Label Fields */
	.components-base-control__label {
		@apply text-sm;
		@apply font-semibold;
		margin-bottom: 0 !important;
	}

	.components-base-control__help {
		@apply text-xs;
		margin-top: 0.25rem !important;
		color: rgb(117, 117, 117);
	}

	.inline-number-control .components-base-control__field {
		@apply flex;
		align-items: center;
	}

	.inline-number-control .components-base-control__label {
		margin-bottom: 0 !important;
	}

	.smartdocs-field--support-page {
		// padding: 20px;
		// background: #f6f7fb;
		margin-top: 20px;
	}

	.smartdocs-field--customize {
		border: 1px solid #ddd;
    	padding: 20px;
		margin-top: 30px !important;
		.components-base-control__field {
			margin: 0;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}
}

.smartdocs-side-card {
	border: none !important;
	border-radius: 0 !important;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
}
