@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./notices/notices.scss";

@import "./sidePanel";

/* Override Default Content Padding */
#wpcontent {
	padding-left: 0;
}

.smartdocs-settings-header {
	box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.1);
}

/* Main Tabs */
.smartdocs-settings-tabs {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px,
		rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
	height: fit-content;
	.components-tab-panel__tabs-item {
		@apply font-bold;
	}
	> .components-tab-panel__tabs {
		border-bottom: 1px solid rgb(226, 228, 231);
	}
	.post-types-list {
		margin-top: 20px;
	}
	.components-text-control__input {
		font-size: 14px;
	}
	/* BaseControl Label Fields */
	.components-base-control__label {
		@apply text-sm;
		@apply font-semibold;
		margin-bottom: 0 !important;
	}

	.components-base-control__help {
		@apply text-xs;
		margin-top: 0.25rem !important;
	}

	.inline-number-control .components-base-control__field {
		@apply flex;
		align-items: center;
	}

	.inline-number-control .components-base-control__label {
		margin-bottom: 0 !important;
	}
}

#tab-panel-0-general-view,
#tab-panel-0-search-view {
	@apply p-4;
}

.smartdocs-side-card {
	border: none !important;
	border-radius: 0 !important;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
}