/** Variables **/

$gray-900: #1a1a1a;
$header-height: 60px;
$break-medium: 782px;

@mixin break-medium() {
	@media (min-width: #{ ($break-medium) }) {
		@content;
	}
}

// Dismissible notices.
.components-editor-notices__dismissible {
	position: sticky;
	top: 0;
	right: 0;
	color: $gray-900;
}

// Non-dismissible notices.
.components-editor-notices__pinned {
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	color: $gray-900;
}

.components-editor-notices__dismissible,
.components-editor-notices__pinned {
	.components-notice {
		box-sizing: border-box;
		margin: 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		padding: 0 12px;

		// Min-height matches the height of a single-line notice with an action button.
		min-height: $header-height;

		// Margins ensure that the dismiss button aligns to the center of the first line of text.
		.components-notice__dismiss {
			margin-top: 12px;
		}
	}
}

.components-editor-notices__snackbar {
	width: 100%;
	@include break-medium() {
		width: fit-content;
		width: -moz-fit-content;
	}

	position: fixed;
    bottom: 10px;
	right: 10px;
}
